@model MovieDetailsViewModel

@{
    ViewBag.Title = Model.Movie.Title;
}

<div class="row-fluid">
    <div class="span3">
        <img src="@Model.Movie.DetailedImageUrl" alt="@Model.Movie.Title poster" />
    </div>
    <div class="span9">
        <h2>@Model.Movie.Title</h2>
        <table class="table table-condensed table-details">
            <tbody>
                <tr>
                    <td>Year Released</td>
                    <td>@Model.Movie.ReleaseYear</td>
                </tr>
                <tr>
                    <td>Runtime</td>
                    <td>@Model.Movie.Runtime minutes</td>
                </tr>
                <tr>
                    <td>MPAA Rating</td>
                    <td>@Model.Movie.MpaaRating</td>
                </tr>
            </tbody>
        </table>
        <h2 class="@Html.CageFlixRatingClass(Model.AvgRating)" style="display:inline">@Model.AvgRating</h2> &nbsp; 
        <span class="muted"><abbr title="On a scale of 3 to 11, how batshit crazy Nic Cage is in this movie">Average CageFlix rating</abbr></span> <span class="muted">(@Model.NumRatings @Html.Pluralize(Model.NumRatings, "rating"))</span>
        <h3>Synopsis</h3>
        @if (!String.IsNullOrEmpty(Model.Movie.Synopsis))
        {
            <p>@Model.Movie.Synopsis</p>
        }
        else
        {
            <p class="muted">Synopsis not available</p>
        }

        <h3>Critics Consensus</h3>
        @if (!String.IsNullOrEmpty(Model.Movie.CriticsConsensus))
        {
            <p>@Model.Movie.CriticsConsensus</p>
        }
        else
        {
            <p class="muted">Critics consensus not available</p>
        }
    </div>
</div>
