@model MoviesViewModel
@{
    ViewBag.Title = "Movie Catalog";
    ViewBag.Active = "movieCatalog";
}

<h2>Pick your poison.</h2>
<hr />
<div class="clearfix">
    <div class="pull-left">
        <ul class="nav nav-pills">
            <li class="@(Model.Order != "asc" ? "active" : "")">@Html.ActionLink("Newest First", "index", "movies", new { area = "", search = Model.Search }, null)</li>
            <li class="@(Model.Order == "asc" ? "active" : "")">@Html.ActionLink("Oldest First", "index", "movies", new { area = "", search = Model.Search, order = "asc" }, null)</li>
        </ul>
    </div>
    <div class="pull-right">
        @using(Html.BeginForm("index", "movies", new { area = "", page = 1 }, FormMethod.Post))
        {
            <div class="input-append">
                @Html.TextBoxFor(m => m.Search)
                <button class="btn" type="submit">Search</button>
                @Html.ActionLink("Reset", "index", "movies", new { area = "" }, new { @class = "btn" })
            </div>
        }
    </div>
</div>

<hr />
@foreach(var movie in Model.Movies.Objects)
{
    <div class="row-fluid">
        <div class="span2">
            <img src="@movie.ProfileImageUrl" alt="@movie.Title" />
        </div>
        <div class="span8">
            <h3>@movie.Title @if(movie.ReleaseYear != null){ @String.Format("({0})", movie.ReleaseYear) }</h3>
            <h4>Synopsis</h4>
            @if(movie.Synopsis == null)
            {
                <p class="muted">Synopsis not available</p>
            }
            else
            {
                <p>@movie.Synopsis</p>
            }
            <h4>Critics Consensus</h4>
            @if(movie.CriticsConsensus == null)
            {
                <p class="muted">Critics consensus not available</p>
            }
            else
            {
                <p>@movie.CriticsConsensus</p>
            }
            <p class="pull-right"><a href="@Url.Action("details", "movies", new { area = "", id = movie.ID })">All the gory details &raquo;</a></p>
        </div>
        <div class="span2">
            <button class="btn btn-success"><i class="icon-check"></i> Seen It</button>
            <br /><br />
            <div class="rating">
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
            </div>
        </div>
    </div>
    <hr />
}

@Html.BootstrapPager(Model.Movies)

@section scripts
{
    <script type="text/javascript">
        //handlers for star hover effects - there's probably a much better way of doing this...
        $(document).ready(function () {
            $('.rating .icon-star-empty').hover(function () {
                $(this).removeClass().addClass('icon-star');
                $(this).prevAll('.icon-star-empty').removeClass().addClass('icon-star');
                $(this).nextAll('.icon-star').removeClass().addClass('icon-star-empty');
            });
            $('.rating').mouseleave(function () {
                $(this).find('.icon-star').removeClass().addClass('icon-star-empty');
            });
        });
    </script>
}