@model MoviesViewModel
@{
    ViewBag.Title = "Movie Catalog";
    ViewBag.Active = "movieCatalog";
}

@section css
{
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/jquery-ui/jquery-ui-1.10.3.custom.min.css")" />
}
<h2>Pick your poison.</h2>
<hr />
<div class="clearfix">
    <div class="pull-left">
        <p class="muted">Sort By:</p>
        <ul class="nav nav-pills">
            <li class="@(String.IsNullOrEmpty(Model.Order) || Model.Order == "desc" ? "active" : "")">@Html.ActionLink("Newest", "index", "movies", new { area = "", search = Model.Search, order = "desc", filter = Model.Filter }, null)</li>
            <li class="@(Model.Order == "asc" ? "active" : "")">@Html.ActionLink("Oldest", "index", "movies", new { area = "", search = Model.Search, order = "asc", filter = Model.Filter }, null)</li>
            <li class="@(Model.Order == "netflix" ? "active" : "")">@Html.ActionLink("On Netflix", "index", "movies", new { area = "", search = Model.Search, order = "netflix", filter = Model.Filter }, null)</li>
        </ul>
    </div>
    @if(User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
    {
        <div class="pull-left">
            <p class="muted">Filter By:</p>
            <ul class="nav nav-pills">
                <li class="@(String.IsNullOrEmpty(Model.Filter) ? "active" : "")">@Html.ActionLink("None", "index", "movies", new { area = "", search = Model.Search, order = Model.Order }, null)</li>
                <li class="@(Model.Filter == "seen" ? "active" : "")">@Html.ActionLink("Seen", "index", "movies", new { area = "", search = Model.Search, order = Model.Order, filter = "seen" }, null)</li>
                <li class="@(Model.Filter == "notseen" ? "active" : "")">@Html.ActionLink("Not Seen", "index", "movies", new { area = "", search = Model.Search, order = Model.Order, filter = "notseen" }, null)</li>
            </ul>
        </div>
    }
    <div class="pull-right">
        @using (Html.BeginForm("index", "movies", new { area = "", page = 1 }, FormMethod.Post, new { style = "margin-top: 30px;" }))
        {
            <div class="input-append">
                @Html.TextBoxFor(m => m.Search)
                <button class="btn" type="submit">Search</button>
                @Html.ActionLink("Reset", "index", "movies", new { area = "" }, new { @class = "btn" })
            </div>
        }
    </div>
</div>

<hr />
@if(Model.Movies.Objects.TotalItemCount == 0)
{
    <p class="muted">No Cage Flix found</p>
}
@foreach (var movie in Model.Movies.Objects)
{
    <div class="row-fluid">
        <div class="span2">
            <a href="@Url.Action("details", "movies", new { area = "", id = movie.ID })">
                <img src="@movie.ProfileImageUrl" alt="@movie.Title" />
            </a>
            @if(!User.IsInRole("Admin"))
            {
                <div class="addMovieContainer">
                    @if (Model.UserHasSeenMovie(movie))
                    {
                        <p class="text-success"><i class="icon-check"></i> You've seen this movie</p>
                        if (!Model.UserHasReviewedMovie(movie))
                        {
                            <p><a href="@Url.Action("details", "movies", new { area = "", id = movie.ID })#shits-n-gigs">Write a Review</a></p>
                        }
                    }
                    else
                    {
                        <button class="btn btn-success btnAddMovie" data-movieid="@movie.ID"><i class="icon-check"></i> Seen It</button>
                    }
                </div>
            }
        </div>
        <div class="span8">
            <h3>
                <a href="@Url.Action("details", "movies", new { area = "", id = movie.ID })">
                    @movie.Title @if(movie.ReleaseYear != null){ @String.Format("({0})", movie.ReleaseYear) }
                </a>
            </h3>
            <h4>Synopsis</h4>
            @if(String.IsNullOrEmpty(movie.Synopsis))
            {
                <p class="muted">Synopsis not available</p>
            }
            else
            {
                <p>@movie.Synopsis</p>
            }
            <h4>Critics Consensus</h4>
            @if(String.IsNullOrEmpty(movie.CriticsConsensus))
            {
                <p class="muted">Critics consensus not available</p>
            }
            else
            {
                <p>@movie.CriticsConsensus</p>
            }
            <hr />
            @if (movie.NetflixLink != null)
            {
                <a href="@movie.NetflixLink" target="_blank"><img src="@Url.Content("~/assets/img/netflix.png")" alt="Watch on Netflix" /></a>
                @:&nbsp;
            }
            @if (movie.ImdbLink != null)
            {
                <a href="@movie.ImdbLink" target="_blank"><img src="@Url.Content("~/assets/img/imdb.png")" alt="View movie on IMDB" /></a>
                @:&nbsp;
            }
            @if (movie.RottenTomatoesLink != null)
            {
                <a href="@movie.RottenTomatoesLink" target="_blank"><img src="http://images.rottentomatoes.com/images/syndication/downloads/rt_logo.gif" height="30" width="88"></a>
                @:&nbsp;
            }
        </div>
        <div class="span2">
            @if (!User.Identity.IsAuthenticated || User.IsInRole("Admin"))
            {
                <p class="text-center muted">@Html.ActionLink("Login to rate", "login", "account", new { area = "" }, null)</p>
            }
            else
            {
                int userRating = Model.GetUserRating(movie); 
                <p class="text-center"><abbr title="On a scale of 3 to 11, how batshit crazy Nic Cage is in this movie">Your CageFlix rating</abbr></p>
                <div class="rating" data-movieid="@movie.ID" data-rating="@userRating"></div>
                if (userRating != 0)
                {
                    <h2 class="text-center user-rating">@userRating</h2>
                }
                else
                {
                    <h2 class="muted text-center user-rating">Not rated</h2>
                }
                <hr />
            }
            <p class="text-center"><abbr title="On a scale of 3 to 11, how batshit crazy Nic Cage is in this movie">Avg. CageFlix rating</abbr></p>
            @{var avgRating = Model.Helpers.GetAvgCageFlixScore(movie);}
            @if (avgRating != 0)
            {
                <h2 class="text-center user-rating">@avgRating</h2>
            }
            else
            {
                <p class="muted text-center user-rating">Not Rated</p>
            }
        </div>
    </div>
    <hr />
}

<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="registerModalLabel">Sign in or sign up first</h3>
    </div>
    <div class="modal-body">
        <strong><a href="http://www.youtube.com/watch?v=U0-mGNSrnh0" target="_blank">How in the name of Zeus' BUTTHOLE</a> do you expect us to save that for you?</strong>
        <br /><br />
        <p>Before you can start tracking your CageFlix, you've gotta @Html.ActionLink("Sign In", "login", "account", new { area = "" }, null) or @Html.ActionLink("Sign Up", "register", "account", new { area = "" }, null)</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

@Html.BootstrapPager(Model.Movies, new { search = Model.Search, order = Model.Order, filter = Model.Filter })

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Assets/js/jquery-ui-1.10.3.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/bootstrap/bootstrap-modal.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/bootstrap/bootstrap-button.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var loggedIn = @(User.Identity.IsAuthenticated ? "true" : "false");

            $(".rating").each(function(){
                $(this).slider({
                    value: parseInt($(this).data('rating')),
                    min: 3,
                    max: 11,
                    step: 1,
                    slide: function( event, ui ) {
                        $(this).next('.user-rating').text(ui.value).removeClass('muted');
                    },
                    stop: function(event, ui){
                        var userRating = $(this).next('.user-rating');
                        var movieId = $(this).data('movieid');
                        $.ajax({
                            url: '/user/ratemovie',
                            type: 'POST',
                            data: {id: movieId, rating: ui.value},
                            dataType: "json",
                            beforeSend: function(){
                                userRating.html('<i class="icon-spinner icon-spin"></i>');
                            },
                            success: function(){
                                userRating.text(ui.value).removeClass('muted');
                            }
                        });
                    }
                });
            });

            $('.btnAddMovie').click(function () {
                var sender = $(this);
                if(!loggedIn){
                    $('#registerModal').modal();
                }
                else{
                    $.ajax({
                        url: '/user/addmovie',
                        type: 'POST',
                        data: {id: sender.data('movieid')},
                        dataType: "json",
                        beforeSend: function(){
                            sender.addClass('disabled');
                            sender.data('loading-text', 'Saving movie...');
                        },
                        success: function(){
                            var counter = $('#userMovieCount');
                            var count = parseInt(counter.text());
                            var parent = sender.parent('.addMovieContainer');
                            sender.removeClass('disabled');
                            sender.data('loading-text', '');
                            sender.remove();
                            parent.append($('<p><i class="icon-check"></i> Movie added</p>'));
                            parent.append($('<p><a href="/movies/details/' + sender.data('movieid') + '#shits-n-gigs">Write a Review</a></p>'));
                            count++;
                            counter.text(count);
                        }
                    });
                }
            });
        });
    </script>
}