@model StatsViewModel

@{
    ViewBag.Title = "Stats";
}

<div class="jumbotron">
    <h3>
        <a href="http://www.youtube.com/watch?v=aEtm69mLK6w">
            That's right, Alva. It's a horrible, horrible job; <br />sifting through old contract after old contract.
        </a>
    </h3>
    <h4 style="color:orangered">But somebody's gotta do it</h4>
</div>
<hr />
<div class="muted">
    <h4>Least Watched Movie: @Html.ActionLink(Model.LeastViewed.Title, "details", "movies", new { id = Model.LeastViewed.ID }, null)</h4>
    <h4>Most Watched Movie: @Html.ActionLink(Model.MostViewed.Title, "details", "movies", new { id = Model.MostViewed.ID }, null)</h4>
    <br />
    <h4>Lowest Rated Movie: @Html.ActionLink(Model.LowestRated.Title, "details", "movies", new { id = Model.LowestRated.ID }, null)</h4>
    <h4>Highest Rated Movie: @Html.ActionLink(Model.HighestRated.Title, "details", "movies", new { id = Model.HighestRated.ID }, null)</h4>
    <br />
    <h4>Average Rating Across All Movies: @Model.AverageRating.ToString("0.0")</h4>
    <br />
    <h4>Shortest Runtime: @Html.ActionLink(Model.ShortestRuntime.Title, "details", "movies", new { id = Model.ShortestRuntime.ID }, null)</h4>
    <h4>Longest Runtime: @Html.ActionLink(Model.LongestRuntime.Title, "details", "movies", new { id = Model.LongestRuntime.ID }, null)</h4>
    <br />
    <h4>Average Runtime: @Model.AverageRuntime minutes</h4>
</div>
<hr />
<h2>MPAA Ratings Breakdown</h2>
<div class="row-fluid">
    @foreach(KeyValuePair<string, int> kvp in Model.MpaaRatingsBreakdown)
    {
        <div class="span2">
            <div style="text-align:center" class="well">
                <span class="label label-default">@kvp.Key</span>
                <hr />
                <h4>@kvp.Value</h4>
            </div>
        </div>
    }
</div>
<hr />
<h2>Year Breakdown</h2>
<hr />
<h2>User Ratings Distribution</h2>
<div class="progress">
    @{                      
        foreach(var userRating in Model.UserRatingsDistribution)
        {
            <div class="bar bar-@userRating.color" style="width:@userRating.percentage%">@userRating.rating</div>
        }
    }
</div>